runtime: python39
instance_class: F1

entrypoint: gunicorn -b :$PORT app:app --timeout 30 --log-level debug

automatic_scaling:
  target_cpu_utilization: 0.65
  min_instances: 0
  max_instances: 1

env_variables:
  FLASK_ENV: "production"
  FLASK_DEBUG: "False"
  ANTHROPIC_API_KEY: "${ANTHROPIC_API_KEY}"